/**style for the h1*/
.header{
    color: rgb(109, 95, 95);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 20px;
}

/**style for the buttons*/
.tab button{
    padding:10px 15px ;
    margin: 0px  3px;
background-color: white;
color:rgb(44, 40, 40) ;
border: none;
font-size: medium;

}
button:hover{
    cursor: pointer;
    background-color: rgb(31, 61, 151);
    color: white;
    border-radius: 4px;
}
button:focus{
    background-color:rgb(31, 61, 151) ;
    color: white;
}
/**style for the  dives of the content */
.btncontent{
   display: none;
    margin-top: 40px;
  padding-left: 10px;
  font-size: large;
   
}


